body {
    background-image: url(back.avif);
    padding: 15px;
    margin: 10px;
    overflow-x: hidden;
}

body.dark {
  background-image: url(escuro.avif);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label-dark {
  background-color: #afe18d;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 20px;
  width: 50px;
  transform: scale(1.2);
}

.label-dark .ball {
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 3px;
  height: 22px;
  width: 22px;
  transform: translate(0px);
  transition: transform 1.5s linear;
}

.checkbox:checked + .label-dark .ball {
  transform: translate(30px);
}

.fa-moon {
  color: #0f47f1;
}

.fa-sun {
  color: #ebc313;
}

header main nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5px;
}

.btn a {
  text-decoration: none;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}


.efeito {
  border: none;
  color: #ffffff;
  padding: 19px;
  margin: 5px;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  line-height: 0px;
  border-radius: 30px;
  position:static;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
}

.efeito {
  background: #afe18d;
}

.efeito:hover {
  background: rgba(0, 0, 0, 0);
  color: #000000;
  box-shadow: inset 0 0 0 3px #73b04a;
}

a:link {
  color: #000000;
}

a:hover {
  color: #4e4c4c;
}

.text h1{
    background-color: #b1e48e;
    border-radius: 10px;
    width:50px;
    height: 190px;
    color: #000000;
    text-shadow: 3px 3px 3px #645f5f;
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-top: -40px;
    justify-content: space-around;
    font-family: 'Nunito', sans-serif;
    font-size: 45px;
}

h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 3px #6a6a6a;
}

.collapse p {
  text-shadow: none;
  background-color: #c8faa6df;
}

:root {
    --space-xxs: 4px;
    --space-xs: 8px;
    --space-sm: 16px;
    --space: 24px; 
    --space-md: 32px;
    --space-lg: 48px;
    --space-xlg: 64px;
  
    --screen-sm: 768px;
  
    --gray: #555;
    --gray-dark: #333;
    --gray-darker: #111;
    --gray-light: #f1f1f1;
    --gray-lighter: #fafafa;
    --blue: #187888;
    --yellow: #e6af05;
    --white: #fff;
    --black: #000;
  
    --brand-primary: var(--blue);
    --background: var(--white);
    --text-color: var(--gray-darker);
  }
  
  details {
    summary {
      list-style: none;
    }
  }
  
  .collapse {
    border: solid 1px var(--gray-lighter);
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgb(24, 149, 24);
    margin-left: 30px;
    margin-right: auto;
    max-width: 400px;
    transition: background-color 0.25s;
    will-change: background-color;
  
    &:first-child {
      margin-top: var(--space);
    }
  
    &:not(:last-child) {
      margin-bottom: var(--space-sm);
    }
  
    &:hover {
      background-color: var(--gray-lighter);
    }
  }
  
  .title {
    cursor: pointer;
    font-weight: 550;
    padding: var(--space-sm);
    position: relative;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
  
    &:after {
      content: "";
      position: absolute;
      right: var(--space-sm);
      transform: translatey(-50%);
      top: 50%;
    }
  }
  
  .description {
    border-top: var(--gray-light) solid 1px;
    font-size: 14px;
    line-height: 21px;
    padding: var(--space-sm);
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
  }


p{
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

a{ 
   font-size: 20px; 
   font-weight: 500;  
} 

h5 {
    font-family: 'Nunito', sans-serif;
}

fieldset {
    background-color: #95d774;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.container fieldset form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 30px;
}

.container {
  display: flex;
  justify-content: end;
}

label {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

select {
  width: 100px;
  border-radius: 30px;
  font-size: 20px;
  display: flex;
  justify-items: center;
  font-family: 'Dosis', sans-serif;
}

option {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  border-bottom: 15px;
}

input {
  border-radius: 20px;
  font-family: 'Dosis', sans-serif;
}

/*baiteco*/
.wrapper{ 
  height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content:center;
} 

.wrapper a{ /*balão*/
  margin-top: 10px; 
  margin-left: 380px; 
  display:inline-block; 
  text-decoration: none; 
  font-size: 80px; 
  padding: 30px; 
  text-transform: uppercase; 
  color: rgb(255, 225, 0); 
} 

.image{
  margin-top:-300px;
  display: flex;
  justify-content: center;
}

.modal{ 
  position: absolute; 
  top:500px; 
  bottom: 0; 
  right: 0; 
  left: 100px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  transition: all 0.4s; 
  visibility: hidden; 
  opacity: 0; 

} 

.modal:target{ 
  visibility:visible ; 
  opacity: 1; 

} 

.modalcontent{ /*caixa de diálogo*/
  position: relative; 
  background: rgb(255, 225, 0); 
  width: 400px; 
  margin-top: 330%;
  max-width: 90%; 
  padding: 1em 2em; 
  border-radius: 30px;
  font-family: 'Nunito', sans-serif;
} 

.modalcontent a{ 
 font-size: 20px; 
 font-weight: 500;  
} 

.modalclose{ /*x da caixa de diálogo*/
  position: absolute; 
  top: 0; 
  right: 15px; 
  color: rgb(255, 255, 255); 
  text-decoration: none; 
  font-size: 37px;
}

footer {
  background-color: #afe18d;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  margin-left: -25px;
  background-size: 100%;
  width: calc(100% + 25px);
}

.paragrafo {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.container-footer {
  padding: 70px 30px 20px;
}

#footer {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-right: 100px;
}

#footer a {
  color: rgb(0, 0, 0);
  margin: 20px;
  text-decoration: none;
  font-size: 1.2em;
}

.icones {
  display: flex;
  justify-content: center;
  font-size: 5px;
}

.icones a {
  text-decoration: none;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  font-size: 10px;
  border-radius: 50px;
  width: 80px;
  margin-top: 40px;
}

.icones a i {
  font-size: 1.6em;
  color: black;
}

@media(max-width:768px) {

  .box{
      display: flex;
      flex-direction: column;
  }
  

  #modalbox{
      margin-top: 1510px;
      display: flex;
    justify-content: end;
  }

 
.modalcontent{
      margin-top: 100em;
  }


  .container-footer {
      display: block;
  }

  #footer a {
      display: flex;
      flex-direction: column;
  }

  .icones {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}